*{
    background-color: rgb(200, 235, 255) ;
}


.imagen{
    width: 200px; /* Modifica el ancho  */
    height: 600px; /* Modifica la altura  */
    border: 250px solid white; 
    border-radius: 65px;
    display: flex;
    justify-content: center;

}

.contenedor {
    width: 200px; /* ajusta el ancho según sea necesario */
    height: 200px; /* ajusta la altura según sea necesario */
    background-image: url('./Reto-1/images/image-qr-code.png'); /* cambia 'tu-imagen.jpg' por la ruta de tu imagen */
    background-size: cover; /* ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: top right; /* posiciona la imagen en la esquina superior derecha */
}